.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;

}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.publishedAt {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.post > h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post > h1,
.post > h2,
.post > h3,
.post > h4,
.post > h5 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.post > h2 {
  font-size: 22px;
  font-weight: bold;
}

.post > h3 {
  font-size: 20px;
  font-weight: bold;
}

.post > h4 {
  font-size: 18px;
  font-weight: bold;
}

.post > h5 {
  font-size: 16px;
  font-weight: bold;
}

.post > p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}

.post > ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 20px;
}



.main {
  // .main内のpre要素にスタイルを適用する
  pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }
   // テーブルのスタイル
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    table-layout: auto; // 自動調整

    th, td {
      padding: 0.75rem;
      text-align: left;
      border: 1px solid black; 
    }

    th {
      background-color: #e9e0e0;
      font-weight: bold;
      white-space: nowrap; 
    }

    tr:hover {
      background-color: #f5f5f5;
    }
 
  }
}
.img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 画像間の間隔 */
}
